/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* Header */
.main-header {
  position: fixed;
  width: 100%;
  transition: 0.5s;
  z-index: 10000;
}
.main-header__topBanner {
  background-color: #fdd600;
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.main-header__topBanner__lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}
.main-header__topBanner__lnb a {
  color: #000;
  margin: 10px;
}
.main-header__topBanner__lnb a:last-child {
  margin: 0;
}
.main-header__nav {
  width: 1300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__nav__logo > a {
  display: block;
}
.main-header__nav__logoImg {
  height: 68px;
  width: auto;
}
.main-header__gnb {
  display: flex;
}
.main-header__gnb li {
}
.main-header__gnb li a {
  margin: 20px;
  color: #fff;
}
.main-header__gnb li a:hover {
  color: #333;
}
.main-header__gnb li a:last-child {
  margin-right: 0;
}

/* Header with active class */
.main-header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.main-header.active .main-header__gnb li a {
  color: #000;
}
.main-header.active .main-header__topBanner {
  height: 0;
  overflow: hidden;
}

.gototop {
  background-color: #fdd600;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: -20px;
  opacity: 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 42px;
  transition: 0.5s;
}
.gototop.active {
  bottom: 20px;
  opacity: 1;
}

/* Intro */
.main-intro {
  height: 100vh;
  background: url(../images/main-slide-intro.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
}
.heading p {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
  font-family: "Noto Sans KR", sans-serif;
}

/* About Section */
.about-content {
  display: flex;
  padding: 150px 0;
}
.about-content div {
  padding: 30px;
}
.desc {
  text-align: center;
  flex: 3;
}
.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.desc p {
  font-size: 16px;
  line-height: 1.7em;
  text-align: justify;
}
.desc a {
  color: #c25a3a;
  font-weight: bold;
}
.desc a:hover {
  text-decoration: underline;
}
.photo {
  flex: 2;
}
.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}

/* story Section */
.story {
  background-color: #f8f8f8;
}
.story-content {
  padding: 100px 0;
}
.story-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.items {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 390px;
  height: 600px;
  border-radius: 30px 0 30px 0;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.up-image {
  width: 390px;
  height: 285px;
}
.up-image img {
  /*  width: 100%;*/
  height: 100%;
}
.down-desc {
  padding: 25px;
  padding-top: 30px;
}
.down-desc h3 {
  font-size: 22px;
  margin: 15px 0;
  /*letter-spacing: -1px;*/
}
.down-desc p {
  font-size: 16px;
  margin-bottom: 15px;
}
.btn-explore {
  color: #c25a3a;
  font-weight: 500;
}
.btn-explore img {
  transition: 0.3s;
}
.btn-explore:hover img {
  /*transform: translateX(15px);*/
  margin-left: 15px;
}
.badge {
  color: #000;
  padding: 2px 10px;
  font-size: 16px;
  background-color: #fdd600;
}
/* menu Section */
.menu {
  padding: 100px 0;
}
.menu-content {
  text-align: center;
}
.menu-content h2 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-content h2 b {
}
.menu-content hr {
  border: none;
  height: 4px;
  width: 120px;
  background-color: #fdd600;
  margin: 30px auto;
}
.myslider {
}
.myslider div {
  outline: none;
}
.myslider img {
  width: 420px;
}
.myslider h3 > span {
  display: block;
}
.client {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client img {
  width: 85px;
  border-radius: 50%;
  margin-right: 15px;
}
.client span {
  display: block;
  /*width: 100%;*/
  text-align: left;
  font-size: 18px;
  line-height: 1.7em;
}
.client span b {
  display: block;
}
.comment {
  font-size: 16px;
  line-height: 1.6em;
  padding-right: 25px;
}

/* CallAction Section */
.callaction {
  height: 450px;
  background: url(../images/goods-img-01.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.callaction-heading {
  width: 1300px;
  text-align: center;
  position: relative;
}
.callaction-heading h2 {
  color: #fff;
  font-size: 48px;
  line-height: 1.3em;
  font-weight: bold;
  letter-spacing: -1px;
}
.callaction-heading a {
  display: inline-block;
  background-color: #fdd600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

/* Blog Section */
.blog {
  padding: 100px 0;
}
.post-content {
  display: flex;
  justify-content: space-between;
}
.post-content div {
}
.recent-post-items {
  flex: 2;
}
.shared-post-items {
  width: 360px;
}

.blog-header h6,
.recent-post-items h6,
.shared-post-items h6 {
  text-transform: uppercase;
  font-size: 16px;
  color: #00a0e9;
}
.recent-post-items h6,
.shared-post-items h6 {
  color: #000;
  margin-bottom: 30px;
}
.blog-header h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 50px 0;
  font-weight: 600;
}
.blog-header p {
  font-size: 20px;
  line-height: 1.6em;
  margin-bottom: 15px;
}

hr.divider {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 50px 0;
}
.post-content hr.divider {
  margin: 30px 0;
  border-bottom: 1px solid #eee;
}

.post-item {
  display: flex;
  flex-direction: row;
}
.shared-post-items .post-item {
  flex-direction: column;
}
.post-item div {
}
.post-image {
  width: 360px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}
.post-image img {
  width: 100%;
}
.post-desc {
  flex: 3;
  padding: 0 20px;
}
.shared-post-items .post-desc {
  padding: 0;
}
.post-desc h3 {
  font-size: 24px;
  text-transform: uppercase;
}
.post-desc p {
  font-size: 18px;
  line-height: 1.6em;
  padding-right: 10px;
  text-align: justify;
}
.post-desc p span {
  font-size: 14px;
  color: #6d6d6d;
  display: block;
  margin-top: 20px;
}

/* Festival Section */
.festival {
  height: 270px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.festival-heading {
  text-align: center;
}
.festival-heading h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
.festival-heading h3 span {
  font-weight: 500;
}
.btns a {
  background-color: #fff;
  width: 200px;
  display: inline-block;
  padding: 6px;
  border-radius: 5px;
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
}
.btns a:nth-child(1) {
  background-color: #fac53b;
  color: #fff;
}
.btns a:nth-child(2) {
  background-color: #ededed;
  color: #333;
}

/* Footer */
footer {
  background-color: #000;
  padding: 30px 0;
}
.footer-content {
  display: flex;
}
.footer-content ul {
  text-align: center;
}
.footer-content ul li:first-child {
  color: #d9d9d9;
  font-weight: 500;
}
.footer-content ul li a {
  color: #959595;
}
.footer-content ul li a:hover {
  text-decoration: underline;
}
.community {
  flex: 1;
}
.network {
  flex: 1;
}
.help {
  flex: 2;
}
.help li {
  color: #959595;
}
.help li:last-child {
  margin-top: 35px;
  color: #eee;
}

/* Slick.js */
.myslider button {
  /*display: none !important;*/
}
